footer {
  background: url(../img/bg.jpg);
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: min(177px, 100%);
}

.copyright {
  color: white;
  font-size: 13px;
  text-align: center;
}
