header {
  background-color: #bbb;
  padding: 20px 0;
  width: 100%;
}

.caja {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
}

.navigation a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.navigation a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.navigation li {
  display: inline;
  margin: 0 0 0 15px;
}

@media (max-width: 609px) {
  .caja {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    text-align: center;
  }

  .logoBarberia {
    height: 200px;
  }

  .navigation {
    position: static;
    margin: 0 7px;
  }

  .navigation ul {
    font-size: 18px;
    display: flex;
    flex-direction: row;
  }

  .navigation li {
    margin: 0 0 0 10px;
  }
}
