main,
footer {
  font-family: "Montserrat", sans-serif;
}

.banner {
  width: 100%;
}

/* Solo a los hijos de main */
/* main > p {
  background-color: red;
} */

/* Para el primer parrafo que vienen despues de una imagen */
/* img + p {
  background-color: yellow;
} */

/* Para todos los parrafos que viene despues de una imagen */
/* img ~ p {
  background: green;
 } */

/* Para todos los parrafos menos a un elemento con not con su id */
/* .principal p:not(#mision) {
  background-color: orange;
} */

.principal {
  background-color: #fefefe;
  padding: 3em 0;
  width: min(940px, 90%);
  margin: 0 auto;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
  /* color: rgba(0, 0, 0, 0.2); */
  /* text-shadow: 2px 2px 10px red; */
}

/* Pseudo clases */
/* .titulo-principal::first-letter {
  font-weight: bold;
}

.titulo-principal::before {
  content: "[";
}

.titulo-principal::after {
  content: "]";
}

p::first-line {
  font-weight: bold;
} */

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.principal p {
  margin: 0 0 1em;
}

.principal #mision {
  font-style: italic;
}

.principal strong {
  font-weight: bold;
}

.map {
  padding: 3em 0;
  width: 100%;
  background: linear-gradient(#fefefe, #888);
}

.map .titulo-principal,
.map p {
  padding: 0 10px;
}

.map p {
  text-align: center;
  margin: 0 0 2em 0;
}

.map-content {
  width: min(875px, 90%);
  margin: 0 auto;
}

.diferenciales {
  padding: 3em 0;
  width: 100%;
  background-color: #888;
  /* box-shadow: inset 0 0 30px red; */
}

.content-diferenciales {
  width: min(640px, 90%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.list-diferenciales {
  width: 40%;
}

.items {
  line-height: 1.5;
}

.items::before {
  content: "★";
}

.items:first-child {
  font-weight: bold;
}

.imagenDiferencial {
  width: 60%;
  transition: 400ms;
  /* box-shadow: 10px 10px 30px 10px #000, -10px -10px yellow, -15px 10px rgba(50, 50, 50, 0.5); */
  box-shadow: 10px 10px 30px 10px #000;
}

.imagenDiferencial:hover {
  opacity: 0.3;
}

.video {
  width: 560px;
  width: min(560px, 90%);
  margin: 1em auto;
}

@media screen and (max-width: 480px) {
  .map-content,
  .content-diferenciales,
  .video {
    width: auto;
  }

  .content-diferenciales {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .principal .titulo-principal,
  .map .titulo-principal,
  .diferenciales .titulo-principal {
    font-size: 1.5em;
    font-weight: bold;
  }

  .principal p,
  .map p {
    font-size: 15px;
  }

  .map .map-content {
    padding: 0 18px;
  }

  /* DIFERENCIALES */
  .diferenciales {
    padding: 30px 0;
  }

  .list-diferenciales {
    width: 80%;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .imagenDiferencial {
    margin-bottom: 20px;
  }

  .diferenciales .video {
    padding: 0 18px;
  }

  .videoYT {
    height: 250px;
  }
}
